.services__container{
    grid-template-columns:  repeat(3, 1fr);
    column-gap: 3.875rem;
}

.services__card{
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}


.services__card:hover{
    transform: translateY(-10px);
}

.services__img{
    margin-bottom: 1.25rem;
    height: 120px;
}